.git
.github
.gitignore
.vscode
.pytest_cache
.mypy_cache
docs
scripts
tests
*.pyc
__pycache__
*.egg-info
.eggs
build
dist
*.o
*.a
.env
.env.local
.DS_Store
node_modules
.npm
*.log
coverage
htmlcov
.coverage
venv
env
.venv
